{% set resetUrl = app.request.schemeAndHttpHost ~ path('change_password', {ressetingToken: user.ressetingToken}) %}
<h3>Hi {{ user.firstname }}</h3>
<h4><strong>If you do not recover the password, ignore this letter</strong></h4>

<p>To change password you must go to: <a href="{{ resetUrl|raw }}" target="_blank">Reset password</a>
</p>
<p>Thanks!</p>
