{% set resetUrl = app.request.schemeAndHttpHost ~ path('changing_password', {token: user.resetingToken}) %}
<h3></h3>

Hi!
To change password you must go to: <a href="{{ path('change_password', { token: user.ressetingToken})  }}">...</a>

Thanks!
