{% extends 'base.html.twig' %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
    <h1>{{ title }}</h1>
    <div>
        <p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque esse libero porro qui rerum ut! Ducimus minus, quidem? A adipisci beatae dolor dolores dolorum ducimus excepturi in, neque odit officia?</span>
            <span>Ab alias assumenda at consequuntur culpa deleniti doloribus enim, expedita facilis harum labore magni nihil nisi non odio odit officia provident quam quibusdam quisquam quod repellat saepe sit suscipit voluptatem!</span>
            <span>Architecto ducimus ea impedit in iure nemo non, nulla suscipit temporibus voluptatem? A doloremque ea eaque explicabo iure necessitatibus odio officiis sed! Aliquid animi aut corporis cumque doloremque eum ratione.</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi ducimus earum enim eos fuga iste itaque labore magni maxime numquam officia, optio placeat quam quis sunt veritatis voluptatum. Porro, suscipit!</span>
            <span>Aperiam aut consequatur culpa cum delectus eaque laborum, molestiae, nulla odit omnis perspiciatis porro quibusdam quo quod sapiente soluta veritatis vero! Accusantium amet corporis doloribus itaque laudantium maiores quos sunt!</span>
        </p>
    </div>
    <div class="list-group text-center">
        <a href="{{ path('vacancy') }}" class="list-group-item list-group-item-action">Вакансии</a>
        <a href="{{ path('award') }}" class="list-group-item list-group-item-action">Награды</a>
    </div>
{% endblock %}